.header {
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__branding,
  &__branding-link {
    color: $white;
  }

  &__menu-nav {
    display: flex;
  }

  &__menu-item {
    list-style: none;
    margin: 0 5px;
  }

  &__menu-link {
    color: $athens-gray;
    display: block;
    padding: 0 10px;

    &:hover {
      background: $athens-gray;
      color: $midnight;
    }
  }

  &__menu-icon {
    color: $white;
    cursor: pointer;
    font-size: 17px;
  }

  @media (max-width: $max-xs) {
    height: auto;
    text-align: center;
    padding: 30px 50px;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__branding {
      height: auto;
      line-height: initial;
      margin-bottom: 15px;
    }

    &__menu-nav {
      justify-content: center;
      margin-bottom: 0;
      padding: 0;
    }
  }
}
